#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

#show_playlists {
    white-space: nowrap;
    font-size: 10px;
    font-weight: bold;
}

#test {
    font-size: 1px;
    color: #ffcd00;
}