/* Webfont: Lato-Regular */
@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

#library_albums {
    list-style: none;
    font-family: LatoWeb;
    font-size: 12pt;
    color: #ffffff;
    text-decoration: none;
}

ul#library_albums li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 0 1% 0;
}

.album-title:hover {
    color: #ffffff;
}

.artist-title:hover {
    color: #66fcf1;
}

.library-album-cover {
    width: 90%;
}

.album-title {
    display: block;
    text-decoration: none;
    color: #66fcf1;
}

.artist-title {
    display: block;
    text-decoration: none;
    color: #ffffff;
}