div#scrollmenu {
    background-color: #000000;
    overflow: auto;
    white-space: nowrap;
}

div#scrollmenu img {
    height: 200px;
    width: 200px;
}

div#scrollmenu a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div#scrollmenu a:hover {
    background-color: dimgray;
}

div#scrollmenu::-webkit-scrollbar {
    width: 4em;
}

div#scrollmenu::-webkit-scrollbar-track {
    background-color: rgb(15, 15, 15);

}

div#scrollmenu::-webkit-scrollbar-thumb {
    background-color: dimgray;
    outline: 3px solid black;
}