div#scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div#scrollmenu img {
    height: 100px;
    width: 100px;
}

div#scrollmenu a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div#scrollmenu a:hover {
    background-color: dimgray;
}